:root {
  font-family: ui-rounded, ui-sans-serif, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  background: #fff4fb;
  color: #2d1733;
}

a {
  color: inherit;
}
h1 {
  margin: 0;
}
